apiVersion: apps/v1
kind : Deployment
metadata:
  name: velib-insights-client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: client
          image: yanisble/velib-insights-client
          ports:
            - containerPort: 3000