apiVersion: apps/v1
kind : Deployment
metadata:
  name: velib-insights-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: server
  template:
    metadata:
      labels:
        component: server
    spec:
      containers:
        - name: server
          image: yanisble/velib-insights-server
          ports:
            - containerPort: 5000